QueTanTaradoEres/packages/
QueTanTaradoEres/QueTanTaradoEres/bin/
QueTanTaradoEres/QueTanTaradoEres/obj/
QueTanTaradoEres/.vs/QueTanTaradoEres/v15/
QueTanTaradoEres/Web/bin/
QueTanTaradoEres/Web/obj/
QueTanTaradoEres/Modelo/obj/
QueTanTaradoEres/Server/bin/
QueTanTaradoEres/Server/obj/
QueTanTaradoEres/Controlador/bin/
QueTanTaradoEres/Controlador/obj/
QueTanTaradoEres/Modelo/bin/
QueTanTaradoEres/Comunes/obj/
QueTanTaradoEres/Comunes/bin/
QueTanTaradoEres/API/obj/
QueTanTaradoEres/API/bin/
